@import "tailwindcss";

@import "tw-animate-css";

@source "./**/*.{vue,ts,js}";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* colors */

  --color-white: var(--color-white);
  --color-black: var(--color-black);

  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
  --color-primary-950: var(--color-primary-950);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
  
  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);
  --color-secondary-950: var(--color-secondary-950);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-muted-50: var(--color-muted-50);
  --color-muted-100: var(--color-muted-100);
  --color-muted-200: var(--color-muted-200);
  --color-muted-300: var(--color-muted-300);
  --color-muted-400: var(--color-muted-400);
  --color-muted-500: var(--color-muted-500);
  --color-muted-600: var(--color-muted-600);
  --color-muted-700: var(--color-muted-700);
  --color-muted-800: var(--color-muted-800);
  --color-muted-900: var(--color-muted-900);
  --color-muted-950: var(--color-muted-950);
  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);

  --color-accent: var(--color-muted);
  --color-accent-foreground: var(--color-primary);

  --color-destructive-50: var(--color-destructive-50);
  --color-destructive-100: var(--color-destructive-100);
  --color-destructive-200: var(--color-destructive-200);
  --color-destructive-300: var(--color-destructive-300);
  --color-destructive-400: var(--color-destructive-400);
  --color-destructive-500: var(--color-destructive-500);
  --color-destructive-600: var(--color-destructive-600);
  --color-destructive-700: var(--color-destructive-700);
  --color-destructive-800: var(--color-destructive-800);
  --color-destructive-900: var(--color-destructive-900);
  --color-destructive-950: var(--color-destructive-950);
  --color-destructive: var(--color-destructive);
  --color-destructive-foreground: var(--color-destructive-foreground);

  --color-error: var(--color-destructive);
  --color-error-foreground: var(--color-destructive-foreground);

  --color-info-50: var(--color-info-50);
  --color-info-100: var(--color-info-100);
  --color-info-200: var(--color-info-200);
  --color-info-300: var(--color-info-300);
  --color-info-400: var(--color-info-400);
  --color-info-500: var(--color-info-500);
  --color-info-600: var(--color-info-600);
  --color-info-700: var(--color-info-700);
  --color-info-800: var(--color-info-800);
  --color-info-900: var(--color-info-900);
  --color-info-950: var(--color-info-950);
  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);

  --color-success-50: var(--color-success-50);
  --color-success-100: var(--color-success-100);
  --color-success-200: var(--color-success-200);
  --color-success-300: var(--color-success-300);
  --color-success-400: var(--color-success-400);
  --color-success-500: var(--color-success-500);
  --color-success-600: var(--color-success-600);
  --color-success-700: var(--color-success-700);
  --color-success-800: var(--color-success-800);
  --color-success-900: var(--color-success-900);
  --color-success-950: var(--color-success-950);
  --color-success: var(--color-success);
  --color-success-foreground: var(--color-success-foreground);

  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
  --color-warning-950: var(--color-warning-950);
  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);

  --color-theme-50: var(--color-theme-50);
  --color-theme-100: var(--color-theme-100);
  --color-theme-200: var(--color-theme-200);
  --color-theme-300: var(--color-theme-300);
  --color-theme-400: var(--color-theme-400);
  --color-theme-500: var(--color-theme-500);
  --color-theme-600: var(--color-theme-600);
  --color-theme-700: var(--color-theme-700);
  --color-theme-800: var(--color-theme-800);
  --color-theme-900: var(--color-theme-900);
  --color-theme-950: var(--color-theme-950);
  --color-theme: var(--color-theme);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-input: var(--color-input);
  --color-border: var(--color-border);
  --color-ring: var(--color-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body,
  html {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

:root {
  --radius: 0.5rem;
}

/* Accordion animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--reka-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Collapsible animations */
@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--reka-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--reka-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
